layout {
    cwd "/Users/ryanmorton/Sites/awesome-ecomm"
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }
    tab name="Editor" focus=true cwd "/Users/ryanmorton/Sites/awesome-ecomm" {
        pane name="Neovim" focus=true command="zsh" {
            args "-c" "nix develop --command zsh"
        }
    }
    tab name="Commands" cwd="~/Sites/awesome-ecomm/" {
        pane name="Commands" command="zsh" {
            args "-c" "nix develop --command zsh"
        }
    }
    tab name="Watchers" cwd="~/Sites/awesome-ecomm/" {
        pane name="Vite" command="zsh" {
            args "-c" "nix develop --command 'npm' 'run' 'dev'"
        }
        pane name="Server" command="zsh" {
            args "-c" "nix develop --command 'php' 'artisan' 'serve' '--port=8889'"
        }
    }
}
