layout {
    cwd "/Users/ryanmorton/Documents"
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }
    tab name="notes" focus=true {
            pane size="10%"
            pane size="90%" focus=true command="nvim" {
            args  "."
        }
    }
}

